@media (max-width: 1280px) {
	
}
@media (max-width: $bp992) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding-bottom: 0;
		&__inner {
			flex-wrap: wrap;
			position: relative;
		}
		.logo {
			position: relative;
			z-index: 3;
			width: 100px;
		}
		&__menu {
			transform: translateY(-500%);
			flex: 1 1 100%;
			order: 3;
		}
		.menu {
			&--open {
				transform: translateY(0%);
				transition: transform 0.3s ease;
				
				background-color: $bg;
				margin: -95px -15px 0;
				padding-top: 106px;
				.menu__list{
					padding: 20px 0;
					flex-direction: column;
					text-align: center;
				}
			}
		}
	}
	.intro {
		height: auto;
		padding-bottom: 50px;
		margin-top: 0;
		&__title {
			font-size: 32px;
			margin-bottom: 20px;
		}
		&__link {
			margin-bottom: 80px;
		}
		&__contacts {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 10px;
		}
	}
	.benefits {
		&::before {
			display: none;
		}
		padding: 50px 0;
		&__row {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
			gap: 40px 30px;
		}
		&__item-icon {
			font-size: 60px;
		}
		&__item {
			min-width: 192px;
		}
	}
	.title {
		font-size: 28px;
	}
	.appartments {
		&__title {
			margin-bottom: 30px;
		}
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		&__item {
			width: 100%;
		}
		&__item-img {
			width: 100%;
		}
		&__item-title {
			font-size: 18px;
			left: 25px;
			bottom: 25px;
		}
	}
	.cta {
		padding: 50px 0;
		&__inner {
			display: flex;
			flex-direction: column;
		}
		&__form {
			display: flex;
			flex-direction: column;
		}
		.form {
			&__privacy {
				order: 4;
			}
			&__input {
				min-width: 200px;
			}
		}
		.btn {
			min-width: 200px;
		}
	}
}
// @media (max-width: 880px) {

// }
// @media (max-width: $bp768) {
	
// }
// @media (max-width: 680px) {
	
// }
@media (max-width: 520px) {
	.intro {
		&__title {
			font-size: 26px;
			margin-bottom: 5px;
		}
		&__link {
			margin-bottom: 80px;
			&::before {
				font-size: 25px;
			}
		}
		&__contacts-icon {
			font-size: 15px;
			gap: 5px;
		}
	}
}
// @media (max-width: $bp480) {
	
// }
@media (max-width: $bp320) {
	.benefits {
		&__item {
			width: 150px;
		}
		&__row {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}