.form {
	&__input {
		min-height: 50px;
		min-width: 255px;
		padding: 12px;
		text-align: center;

		font-size: 14px;
		line-height: 1.9;
		font-style: normal;
		color: $mainTextColor;
		border: none;

		background-color: rgba($color: #fff, $alpha: 0.2);
		transition: background-color 0.3s ease;
		&::placeholder {
			font-size: 14px;
			line-height: 1.9;
			font-style: normal;
			color: #BEBEBE;
		}
		&:focus {
			background-color: rgba($color: #fff, $alpha: 0.3);
		}
	}
	&__privacy {
		text-align: center;
		font-size: 13px;
		line-height: 1.23;
		font-weight: 400;
		font-style: normal;
		color: #E7E7E7;
	}
}