.header {
	padding: 30px 0;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.menu {
	&__list {
		display: flex;
		gap: 40px;
	}

	&__list-link {
		font-size: 14px;
		line-height: 1.14;

		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
			}
		}
	}
}

@import "burger";