.header {
	padding: 30px 0;
	position: relative;
	z-index: 10;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.menu {
	&__list {
		display: flex;
		gap: 40px;
	}

	&__list-link {
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.05rem;
	}
}

@import "burger";