.section-map {
	padding: 180px 0;
	position: relative;
	&::before {
		content: "V";
		color: #FFF;
		opacity: 0.02;
		font-family: Playfair Display;
		font-size: 400px;
		font-style: normal;
		font-weight: 700;
		line-height: 1;
		z-index: 1;

		position: absolute;
		top: 180px;
		right: calc(50% + 550px);
		transform: translateX(50%);
	}
	&__title {
		margin-bottom: 88px;
		position: relative;
	z-index: 2;
	}
}

.map {
	height: 368px;
	background-color: #626262;
	position: relative;
	z-index: 2;
}