.social {
	display: flex;
	gap: 22px;
	align-items: center;
	margin-top: 20px;
	
	&__link {
		transition: all 0.3s ease;
		&::before {
			font-size: 20px;
		}
		&--facebook:hover {
			color: #3b5998;
			transition: all 0.3s ease;
		}
		&--insta:hover {
			color: #C13584;
		}
		&--insta {
			font-size: 25px;
		}
		&--vk:hover {
			color: #4C75A3;
			transition: all 0.3s ease;
		}
		&--youtube:hover {
			color: #FF3D00;
			transition: all 0.3s ease;
		}
		&--youtube:hover svg path {
			fill: #FF3D00;
			transition: all 0.3s ease;
		}
	}
}
