.video {
	text-align: center;
	position: relative;
	&::before {
		content: "IV";
		@include decorNumber;
		left: calc(50% + 550px);
		transform: translateX(-50%);
	}
	&__link {
		position: relative;
		display: inline-block;
		overflow: hidden;
		
		&::before {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			width: 100px;
			height: 100px;
			font-size: 100px;
			color: $accentColor;
			transition: all 0.3s ease;
			z-index: 5;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background: linear-gradient(0deg, rgba(36, 43, 51, 0.80) 0%, rgba(36, 43, 51, 0.80) 100%), 50% / cover no-repeat;
			transition: all 0.3s ease;
		}
		&:hover::after {
			background: linear-gradient(0deg, rgba(36, 43, 51, 0.70) 0%, rgba(36, 43, 51, 0.70) 100%), 50% / cover no-repeat;
		}
		&:hover::before {
			color: saturate($color: $accentColor, $amount: 20%);
			transform: translate(-50%, -50%) scale(1.1);
		}
		&:hover img {
			transform: scale(1.1);
			transition: all 0.3s ease;
		}
	}
}